.container {
    max-width: 1200px;
    margin: 0 auto;
}

.board {

}

.row {
    display: flex;
}

.col {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background: antiquewhite;
}

.black {
    background: #333333;
}

.figure {
    width: 60px;
    height: 60px;
    position: relative;
}

.selected {
    background: rgba(151, 236, 60, 0.68);
}